 <!-- Includes s達o os trechos do html que n達o vao mudar independente das rotas, ent達o separamos em um arquivo e apenas incluimos ele aqui-->
<%- include('includes/head'); %>

    <section class="container">
        <h1> 
            <!--
                     Usando JavaScript no EJS

                    <%# Variavel do Middleware %>
                <%= umaVariavelLocal%> 

                    <%# Variavel do Controller %>
                <% if(typeof titulo !== 'undefined'){%>
                    <%=titulo%>
                    <% } else { %> 
                        O titulo n達o foi enviado.
                        <% } %> 
                        <% %> 
            -->
        <%= csrfToken %>
        </h1>
        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

<%- include('includes/footer'); %>
